<!-- Contact -->
<div id="map"></div>

<section id="contact" class="csstransforms" style="padding-top: 5%; padding-bottom: 0;">
  <aside class="container">
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-12 text-center">
            <h2 class="section-subheading"><span style="color: #33ccff;">Con</span>tact</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-right">
          <div class="row" style="margin-bottom: 40px;">
              <div class="col-lg-12 text-right">

              </div>
           </div>
        </div>

     </div>

  </aside>
</section >

<script src="/js/drawmap.js"></script>
