<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a class="page-scroll" href="#page-top">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="#references">References</a>
                    </li> -->
                    <!-- <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <div class="intro-text" style="padding-bottom: 0;">
                  <div class="intro-lead-in">Guten Tag!</div>
                  <div class="intro-heading" style="color: black; font-family: Gotham-Thin;">My name is Surajit Dutta. I am a software developer in Machine Learning, Artificial Intelligence and Computer Vision domains.
          I have previously worked in the field of Advanced Driver Assistance System (ADAS), Image Processing, Pattern Recognition, Unmanned Aerial Vehicle (UAV) and many more. My work includes
          developing intelligent software solutions. I quickly adapt to new technologies. I like coding, cooking, playing piano, painting and photography.</div>
                  <a href="#contact" class="page-scroll btn btn-xl">Contact me</a>
              </div>
            </div>
            <div class="to-remove">
              <div class="col-md-4">
                <div class="intro-text" style="padding-bottom: 0;">
                  <div class="intro-lead-in" style="background-image: url(https://farm5.staticflickr.com/4476/37499879591_f6ccc74a22_z.jpg); text-align: left; height: 500px;">
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
