<!-- About Section -->
<section id='resume' class="csstransforms">
  <aside class="container">
    <div class="row" style="margin-bottom: 80px;">
        <div class="col-lg-12 text-center">
            <h2 class="section-subheading" style="letter-spacing: 5px;">Work Experience</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-center">
            <h3 style="background: #ccc; text-align: left;">APR 2016 -<br>Present</h3>
            <h4 style="text-align: left; text-transform: none; font-family: Gotham-Regular; font-size: 25px; line-height: inherit;">Development and optimization of the machine learning algorithms for pedestrian detector in a computer vision framework,
              <span style="color: #ccc;"> Robert Bosch GmbH, Hildesheim </span>
            </h4>
            <p style="text-align: left; font-family: Gotham-Thin; font-size: 20px; line-height: inherit;">This work includes the rersearch, development, optimization and customization of the machine learning and computer vision algorithms.</p>
        </div>
    </div>
  </aside>
  <aside class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 style="background: #ccc; text-align: left;">APR 2015 -<br>OCT 2015</h3>
            <p style="text-align: left;">Development and optimization of the machine learning algorithms for the pedestrian detector in a computer vision framework</p>
        </div>
    </div>
  </aside>
</section >



    <section id="resume_obsolete">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resume</h2>
                    <h2 class="section-subheading">Work Experience</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                          <div class="timeline-image">
                              <h4>Apr 2016  <br> -Present</h4>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Development and optimization of the machine learning algorithms for the pedestrian detector in a computer vision framework</h4>
                                  <h4 class="subheading">Robert Bosch GmbH, Germany</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">This work includes the rersearch, development, optimization and customization of the machine learning and computer vision algorithms.
                                    <!-- such cascade classifier in combination with AdaBoost and SVM for camera based pedestrian detection. -->
                                    <!-- The algorithms are developed in C++, Python. -->
                                    <!-- The codes developed are mostly scaleable with OpenMP and uses OpenCV. -->
                                  </p>
                              </div>
                          </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Apr 2015  <br> -Oct 2015</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Development of the object detection application modules for an AUTOSAR based computer vision framework</h4>
                                    <h4 class="subheading">CMORE Automotive GmbH, Germany</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This work includes development of the software modules such as camera based pedestrian/traffic sign/lane marker detector for an AUTOSAR based object detection framework.
                                      The algorithms are mainly developed in OpenCV/C++. For the rapid prototyping, a MATLAB/MEX/OpenCL based computer vision framework (which includes state-of-the-art Computer Vision/Machine Learning algorithms) has parallelly
                                      been developed from the scratch. The runtimes of the computationally expensive operations have further been optimized using SSE4 intrinsics for intel X86 platforms, besides taking the full advantage of
                                      OpenCL based parallel threads. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Nov 2014<br>-Apr 2015</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Development of a machine learning tool for big data used by an ADAS computer vision framework </h4>
                                    <h4 class="subheading">Continental AG, Germany</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This is my thesis work which includes research and development of an highly optimized
Support Vector Machine (SVM) a machine learning algorithm used by most of the computer vision based object (such as pedestrians,
traffic sign, etc.) detectors. This offers a state-of-the-art alike performance as being mathematically optimized and also
accompanied by processor intrinsics, e.g. SSE4, AVX. The programming languages used in this project are C++ (for developing a runtime efficient SVM library for the large imbalanced data) and MATLAB (for prototyping). The thesis report and presentations are downloadable at the links below. </br>
                                    <a class="btn btn-xl" style="margin-top:20px; background-color:#222; padding: 10px 15px; border-radius: 3px; font-size:15px" type='submit' href="/downloads/thesis.pdf" download="thesis.pdf">Report</a>
                                    <a class="btn btn-xl" style="margin-top:20px; background-color:#222; padding: 10px 15px; border-radius: 3px; font-size:15px" type='submit' href="/downloads/thesis_presentation.pptx" download="thesis_presentation.pptx">Presentation</a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>May 2014<br>-Oct 2014</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Development of a tricky and efficient image feature extractor to improve the accuracy of the object detector</h4>
                                    <h4 class="subheading">Continental AG, Germany</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This work includes developing a novel approach of representing the image features.
                                    Combining multiple feature channels improved the precision of the object detector by 10%, which in computer
                                  vision field is a great achievement. The implementation has mainly been done in OpenCV/C++ and the prototype has
                                  been developed in MATLAB/MEX. The research reports are downloadble at the links below. </br>
                                  <a class="btn btn-xl" style="margin-top:20px; background-color:#222; padding: 10px 15px; border-radius: 3px; font-size:15px" type='submit' href="/downloads/research_report_part1.pdf" download="research_report_part1.pdf">Report Part-1</a>
                                  <a class="btn btn-xl" style="margin-top:20px; background-color:#222; padding: 10px 15px; border-radius: 3px; font-size:15px" type='submit' href="/downloads/research_report_part2.pdf" download="research_report_part2.pdf">Report Part-2</a>
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Apr 2013<br>-Apr 2014</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Academic projects (Master)</h4>
                                    <h4 class="subheading">TU Chemnitz, Germany</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The works done during the master study consists of a number of automation and automotive applications. For example, FPGA/VHDL based prototype of miniature robotic arm,
                                                          application development in AUTOSAR sw-stack, object detection with image processing and machine learning algorithms and many more. The programing languages and APIs used to do these projects are Embedded C, C++, OpenCV, OpenCL, VHDL, etc.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Aug 2009<br>-July 2011</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Academic projects (Bachelor)</h4>
                                    <h4 class="subheading">Acharya Institute of Technology, India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">These are the works done during the bachelor study. These include the development of face detection and
tracking, optical character recognition, stability control of an unmanned aerial vehicle (UAV) using inertial measurement unit (IMU), etc. The programing languages
and APIs used in these projects are Embedded C, C++, MATLAB, Python, VHDL, OpenCL, OpenCV, OpenGL and etc.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-subheading">Education</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>Apr 2013<br>-Sept 2015</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>MSc in Automotive Software Engineering</h4>
                                    <h4 class="subheading">TU Chemnitz, Germany</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Courses: Hardware Software Co-design + Lab: FPGA/VHDL prototyping), AUTOSAR Lab (ECU+TinyCAN programming), Image/Video Processing, Machine Learning, Artificial Intelligence, Dependable Systems, Real Time System, Embedded System. Grade: 2.1 (where, 1.0-1.5: very good, 1.6-2.5: good, 2.6-3.5: satisfactory, 3.6-4.0: passed, 5.0: not passed).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Aug 2007<br>-July 2011</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>BE in Electronics and Communication Engineering</h4>
                                    <h4 class="subheading">Acharya Institute of Technology, India</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Courses: Analog and Digital Circuit + Lab, Analog and Digital Communication + Lab, Control Systems, Radar and Microwave, Digital Signal Processing + Lab, Microcontrollers/Microprocessors + Lab, Image Processing, Real Time Systems, Embedded Systems. Grade: 1st Class.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>





           <!-- skills title -->
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-subheading">Skills</h2>
              </div>

          <!-- first column -->
          <div class="col-md-4">
            <!-- <div class="col-sm-4"> -->
            <h4 class="subheading">Programming Language</h4>

              <div class="skillbar clearfix " data-percent="150%">
                <div class="skillbar-bar count" style="background: #222;">75%</div>
                <div class="skillbar-title"><span>C</span></div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="150%">
                <div class="skillbar-bar count" style="background: #222;">75%</div>
                <div class="skillbar-title"><span>C++</span></div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="140%">
                <div class="skillbar-bar count" style="background: #222;">70%</div>
                <div class="skillbar-title"><span>Python</span></div>
              </div>

              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>JavaScript</span></div>
              </div>

              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>MATLAB</span></div>
              </div>

              <h4 class="subheading">Documentation Framework</h4>
                <div class="skillbar clearfix " data-percent="140%">
                  <div class="skillbar-bar count" style="background: #222;">70%</div>
                  <div class="skillbar-title"><span>LaTex</span></div>
                </div> <!-- End Skill Bar -->
                <div class="skillbar clearfix " data-percent="140%">
                  <div class="skillbar-bar count" style="background: #222;">70%</div>
                  <div class="skillbar-title"><span>Doxygen</span></div>
                </div> <!-- End Skill Bar -->


                <!-- 2nd column, 3rd row -->
                <h4 class="subheading">OS</h4>
                  <div class="skillbar clearfix " data-percent="140%">
                    <div class="skillbar-bar count" style="background: #222;">70%</div>
                    <div class="skillbar-title"><span>Linux</span></div>
                  </div> <!-- End Skill Bar -->


                  <div class="skillbar clearfix " data-percent="120%">
                    <div class="skillbar-bar count" style="background: #222;">60%</div>
                    <div class="skillbar-title"><span>Windows</span></div>
                  </div>
        </div> <!-- End column -->


       <!-- 2nd column -->
       <div class="col-md-4">
          <!-- 2nd column, 1st row -->
          <h4 class="subheading">API</h4>
            <div class="skillbar clearfix " data-percent="150%">
              <div class="skillbar-bar count" style="background: #222;">75%</div>
              <div class="skillbar-title"><span>OpenCV</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="130%">
              <div class="skillbar-bar count" style="background: #222;">65%</div>
              <div class="skillbar-title"><span>OpenCL</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="100%">
              <div class="skillbar-bar count" style="background: #222;">50%</div>
              <div class="skillbar-title"><span>OpenGL</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="60%">
              <div class="skillbar-bar count" style="background: #222;">30%</div>
              <div class="skillbar-title"><span>CUDA</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="100%">
              <div class="skillbar-bar count" style="background: #222;">50%</div>
              <div class="skillbar-title"><span>Boost</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="100%">
              <div class="skillbar-bar count" style="background: #222;">50%</div>
              <div class="skillbar-title"><span>Eigen</span></div>
            </div> <!-- End Skill Bar -->


            <!-- 3rd column, 1st row -->
            <h4 class="subheading">UI</h4>
              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>Qt</span></div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>GoogleMaterial</span></div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>Bootstrap</span></div>
              </div> <!-- End Skill Bar -->
        </div> <!-- End Skill Bar -->



        <!-- 3rd column -->
        <div class="col-md-4">

          <!-- 2nd column, 2nd row -->
          <h4 class="subheading">Framework</h4>
            <div class="skillbar clearfix " data-percent="80%">
              <div class="skillbar-bar count" style="background: #222;">40%</div>
              <div class="skillbar-title"><span>Caffe</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="80%">
              <div class="skillbar-bar count" style="background: #222;">40%</div>
              <div class="skillbar-title"><span>Torch</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="80%">
              <div class="skillbar-bar count" style="background: #222;">40%</div>
              <div class="skillbar-title"><span>Theano</span></div>
            </div> <!-- End Skill Bar -->

            <div class="skillbar clearfix " data-percent="80%">
              <div class="skillbar-bar count" style="background: #222;">40%</div>
              <div class="skillbar-title"><span>MatConvNet</span></div>
            </div> <!-- End Skill Bar -->

            <!-- 2nd column, 2nd row -->
            <h4 class="subheading">IDE</h4>
              <div class="skillbar clearfix " data-percent="140%">
                <div class="skillbar-bar count" style="background: #222;">70%</div>
                <div class="skillbar-title"><span>VisualStudio</span></div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>Eclipse</span></div>
              </div> <!-- End Skill Bar -->

              <div class="skillbar clearfix " data-percent="120%">
                <div class="skillbar-bar count" style="background: #222;">60%</div>
                <div class="skillbar-title"><span>Atom</span></div>
              </div> <!-- End Skill Bar -->


              <!-- 2nd column, 3rd row -->
              <h4 class="subheading">Version Control Client</h4>
                <div class="skillbar clearfix " data-percent="140%">
                  <div class="skillbar-bar count" style="background: #222;">70%</div>
                  <div class="skillbar-title"><span>Git</span></div>
                </div> <!-- End Skill Bar -->
                <div class="skillbar clearfix " data-percent="140%">
                  <div class="skillbar-bar count" style="background: #222;">70%</div>
                  <div class="skillbar-title"><span>TortoiseSVN</span></div>
                </div> <!-- End Skill Bar -->

            </div> <!-- End Skill Bar -->
            <div class="col-md-12 text-center">
                <h4 class="subheading" style="color:#777">Below 20%: Basic, 20%-40%: Average, 40%-60%: Intermediate,<br>60%-80%: Professional, Above 80%: Expert</h4>
            </div>
          </div> <!-- End Skill Bar -->

               <!-- skills title -->
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2 class="section-subheading">Language</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                  </div>

              <!-- first column -->
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <!-- <div class="col-sm-4"> -->
                <h4 class="subheading">Mother Tongue</h4>

                  <div class="skillbar clearfix " data-percent="150%">
                    <div class="skillbar-bar count" style="background: #222;">(Native)</div>
                    <div class="skillbar-title"><span>Bengali</span></div>
                  </div> <!-- End Skill Bar -->

                  <h4 class="subheading">2nd Language</h4>

                    <div class="skillbar clearfix " data-percent="120%">
                      <div class="skillbar-bar count" style="background: #222;">(Bilingual)</div>
                      <div class="skillbar-title"><span>English</span></div>
                    </div> <!-- End Skill Bar -->

                    <h4 class="subheading">European Language</h4>

                      <div class="skillbar clearfix " data-percent="60%">
                        <div class="skillbar-bar count" style="background: #222;">(A2)</div>
                        <div class="skillbar-title"><span>German</span></div>
                      </div> <!-- End Skill Bar -->
                    </div> <!-- End column -->
                <div class="col-md-4"></div>
            </div>


      <!-- <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-xl" style="margin-top:80px" type='submit' href="/downloads/resume.pdf" download="resume.pdf">Download my full CV</a>
        </div>
      </div> -->
   </div>
</section>
