<!-- About Section -->
<section id='resume' class="csstransforms" style="padding-top: 30px; padding-bottom: 0;">
  <aside class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-center">
            <h2 class="section-subheading"><span style="color: tomato;">Exp</span>erience</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-left">
            <h3 style="background: #ccc;">APR 2016 -<br>Present</h3>
            <h4 style="text-transform: none; font-family: Gotham-Regular; font-size: 25px; line-height: inherit;">Development and optimization of the machine learning algorithms for pedestrian detector in computer vision framework,
              <span style="color: #ccc;"> Robert Bosch GmbH, Germany </span>
            </h4>
            <p style="text-align: left; font-family: Gotham-Thin; font-size: 20px; line-height: inherit;">This work includes the rersearch, development, optimization and customization of the machine learning and computer vision algorithms. The prototypes and developments are done in C++, Python.</p>
        </div>
    </div>
  </aside>
  <aside class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-left">
            <h3 style="background: #ccc;">APR 2015 -<br>OCT 2015</h3>
            <h4 style="text-transform: none; font-family: Gotham-Regular; font-size: 25px; line-height: inherit;">Development of the object detection algorithms for a computer vision framework,
              <span style="color: #ccc;"> CMORE Automotive GmbH, Germany </span>
            </h4>
            <p style="text-align: left; font-family: Gotham-Thin; font-size: 20px; line-height: inherit;">This work includes development of algorithms for pedestrian/traffic sign/lane marker detector for a camera based object detection framework. The prototypes and developments were done in OpenCV/C++, MATLAB.</p>
        </div>
    </div>
  </aside>
  <aside class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <h3 style="background: #ccc;">MAY 2014 -<br>APR 2015</h3>
            <h4 style="text-transform: none; font-family: Gotham-Regular; font-size: 25px; line-height: inherit;">Development of a machine learning tool for big data used by an ADAS computer vision framework,
              <span style="color: #ccc;"> Continental AG, Germany </span>
            </h4>
            <p style="text-align: left; font-family: Gotham-Thin; font-size: 20px; line-height: inherit;">This is my thesis work which includes research and development of a highly optimized and scalable Support Vector Machine (SVM) a machine learning algorithm used for training object models (such as pedestrians, traffic sign, etc.). The prototypes and developments were done in OpenCV/C++/SSE4/OpenMP, MATLAB/MEX. </div>
    </div>
  </aside>
</section >


<!-- About Section -->
<section class="csstransforms" style="padding-top: 30px; padding-bottom: 0;">
  <aside class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-center">
            <h2 class="section-subheading"><span style="color: tomato;">Edu</span>cation</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-left">
            <h3 style="background: #ccc;">MAR 2013 -<br>SEPT 2015</h3>
            <h4 style="text-transform: none; font-family: Gotham-Regular; font-size: 25px; line-height: inherit;">MSc in Automotive Software Engineering,
              <span style="color: #ccc;"> TU Chemnitz, Germany </span>
            </h4>
            <p style="text-align: left; font-family: Gotham-Thin; font-size: 20px; line-height: inherit;">The study includes the rersearch and development of latest technoloies used in german automotive industries.
              The works done during the master study consists of a number of automation and automotive applications. For example, FPGA/VHDL based prototype of miniature robotic arm, application development in AUTOSAR sw-stack
              and a thesis on Machine Learning/Computer Vision in Collaboration with Continental AG.</p>
        </div>
    </div>
  </aside>
  <aside class="container">
    <div class="row">
        <div class="col-lg-12 text-left">
            <h3 style="background: #ccc;">AUG 2007 -<br>JULY 2011</h3>
            <h4 style="text-transform: none; font-family: Gotham-Regular; font-size: 25px; line-height: inherit;">BE in Electronics and Communications Engineering,
              <span style="color: #ccc;"> Acharya Institute of Technology, India </span>
            </h4>
            <p style="text-align: left; font-family: Gotham-Thin; font-size: 20px; line-height: inherit;">The study focused on both theories and practices in electronics/electrical engineering, control system, signal processing, communication engineering, image processing, artificial intelligence.
              The thesis was done in the the discipline of control system (PID controlled stability for the drones).</p>
        </div>
    </div>
  </aside>
</section >

<!-- About Section -->
<section class="csstransforms" style="padding-top: 30px; padding-bottom: 0;">
  <aside class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-12 text-center">
            <h2 class="section-subheading"><span style="color: tomato;">Ski</span>lls</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-lg-6 text-right">
          <div class="circles">
            <div class="first circle">
              <span>no <br> animation</span>
            </div>

            <div class="second circle">
              <strong></strong>
              <span>animation <br> progress</span>
            </div>

            <div class="third circle">
              <strong></strong>
              <span>value <br> progress</span>
            </div>

            <div class="forth circle">
              <span>custom angle, <br> value update</span>
            </div>

            <div
              class="fifth circle"
              data-value="0.9"
              data-size="60"
              data-thickness="20"
              data-animation-start-value="1.0"
              data-fill="{
                &quot;color&quot;: &quot;rgba(0, 0, 0, .3)&quot;,
                &quot;image&quot;: &quot;http://i.imgur.com/pT0i89v.png&quot;
              }"
              data-reverse="true"
            >
              <span>image fill, <br> custom sizes</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-left">
          <div class="circles">
            <div class="first circle">
              <span>no <br> animation</span>
            </div>

            <div class="second circle">
              <strong></strong>
              <span>animation <br> progress</span>
            </div>

            <div class="third circle">
              <strong></strong>
              <span>value <br> progress</span>
            </div>

            <div class="forth circle">
              <span>custom angle, <br> value update</span>
            </div>

            <div
              class="fifth circle"
              data-value="0.9"
              data-size="60"
              data-thickness="20"
              data-animation-start-value="1.0"
              data-fill="{
                &quot;color&quot;: &quot;rgba(0, 0, 0, .3)&quot;,
                &quot;image&quot;: &quot;http://i.imgur.com/pT0i89v.png&quot;
              }"
              data-reverse="true"
            >
              <span>image fill, <br> custom sizes</span>
            </div>
          </div>
        </div>
      </div>
  </aside>
</section >

<script src="js/circular.js"></script>
